- 
  var dataPrices = {
    "item0": {
      "name": "Общие работы",
      "items": [
        {
          "name": "Косметический ремонт квартиры",
          "price": "от 1200 руб./м2"
        },
        {
          "name": "Дизайн интерьера квартиры и других помещений",
          "price": "от 200 руб./м2"
        },
        {
          "name": "Выезд консультанта для оценки стоимости работ по Барнаулу",
          "price": "бесплатно"
        },
        {
          "name": "Выезд консультанта для оценки стоимости работ за пределы города",
          "price": "договорная"
        },
        {
          "name": "Сопровождение покупки (приобретение материалов для ведения работ)",
          "price": "бесплатно"
        },
        {
          "name": "Приобретение материалов для ведения работ",
          "price": "10%"
        },
        {
          "name": "Минимальный заказ (включая выезд)",
          "price": "5000 руб."
        },
        {
          "name": "Работы, не подлежащие тарификации (например сборка мебели)",
          "price": "400 руб./час"
        },
        {
          "name": "Расценки за ремонт повышенной сложности",
          "price": "от 20%"
        },
        {
          "name": "Разгрузка, подъём материалов",
          "price": "договорная"
        },
        {
          "name": "Погрузка, вывоз мусора",
          "price": "договорная"
        }
      ]
    },
    "item1": {
      "name": "Дизайн интерьера квартиры и других помещений",
      "items": [
        {
          "name": "Экспресс дизайн интерьера квартиры",
          "price": "300 руб./м2"
        },
        {
          "name": "Полный дизайн интерьера квартиры",
          "price": "500 руб./м2"
        },
        {
          "name": "Дизайн общественных и административных помещений",
          "price": "500 руб./м2"
        },
        {
          "name": "Дизайн производственных помещений",
          "price": "200 руб./м2"
        },
        {
          "name": "Эскизный проект коттеджей",
          "price": "от 150 руб./м2"
        },
        {
          "name": "Проектирование объектов малой архитектуры (бани, дачные домики, киоски)",
          "price": "от 6000 руб."
        },
        {
          "name": "Проектирование фасадов здания",
          "price": "от 5000 руб."
        },
        {
          "name": "Разработка освещения фасадов",
          "price": "от 5000 руб."
        },
        {
          "name": "Разработка решения фасад + освещение",
          "price": "от 7000 руб."
        },
        {
          "name": "Авторский надзор (в зависимости от площади объекта)",
          "price": "от 50 руб./м2"
        },
        {
          "name": "Составление обмерных чертежей",
          "price": "500 руб."
        },
        {
          "name": "Перепланировка помещений",
          "price": "100 руб./м2"
        },
        {
          "name": "Проектирование расположения мебели",
          "price": "100 руб./м2"
        },
        {
          "name": "Проектирование раскладки плитки",
          "price": "100 руб./м2"
        },
        {
          "name": "Помощь в подборке мебели, материалов, декора",
          "price": "2000 руб."
        }
      ]
    },
    "item2": {
      "name": "Демонтажные работы",
      "items": [
        {
          "name": "Демонтаж подвесных потолков из гипсокартона",
          "price": "от 80 руб./м2"
        },
        {
          "name": "Демонтаж подвесных потолков типа «Армстронг»",
          "price": "от 50 руб./м2"
        },
        {
          "name": "Разборка гипсокартоновых стен с металокаркасом",
          "price": "от 100 руб./м2"
        },
        {
          "name": "Разборка гипсокартоновых перегородок с металокаркасом",
          "price": "от 150 руб./м2"
        },
        {
          "name": "Снос стен из кирпича (в полкирпича)",
          "price": "от 250 руб./м2"
        },
        {
          "name": "Снос стен из кирпича (в кирпич)",
          "price": "от 450 руб./м2"
        },
        {
          "name": "",
          "price": "от 750 руб./м2"
        },
        {
          "name": "Расширение дверного проема в бетонной стене",
          "price": "от 500 руб./м.п."
        },
        {
          "name": "Снятие старой краски",
          "price": "от 70 руб./м2"
        },
        {
          "name": "Снятие обоев со стен / потолка",
          "price": "от 40 руб./м2"
        },
        {
          "name": "Снятие набела со стен / потолка",
          "price": "от 50 руб./м2"
        },
        {
          "name": "Снятие старой штукатурки / кафельной плитки",
          "price": "от 90 руб./м2"
        },
        {
          "name": "Штробление кирпичной / бетонной стены",
          "price": "100 руб./м.п."
        },
        {
          "name": "Демонтаж линолеума / ковролина",
          "price": "от 30 руб./м2"
        },
        {
          "name": "Демонтаж полов из досок или реек",
          "price": "от 100 руб./м2"
        },
        {
          "name": "Демонтаж плинтуса",
          "price": "20 руб./м.п."
        },
        {
          "name": "Демонтаж цементной стяжки / керамический плитки",
          "price": "от 100 руб./м2"
        },
        {
          "name": "Демонтаж водопроводных труб",
          "price": "от 40 руб./м.п."
        },
        {
          "name": "Демонтаж ванны / душевой кабины",
          "price": "от 300 руб./шт."
        },
        {
          "name": "Демонтаж унитаза / писсуара / биде",
          "price": "от 150 руб./шт."
        },
        {
          "name": "Демонтаж радиаторов отопления",
          "price": "от 250 руб./шт."
        },
        {
          "name": "Демонтаж канализационных труб (чугунных)",
          "price": "80 руб./м.п."
        },
        {
          "name": "Демонтаж канализационных труб (пластиковых)",
          "price": "30 руб./м.п."
        }
      ]
    },
    "item3": {
      "name": "Натяжные потолки",
      "items": [
        {
          "name": "Установка белого натяжного потолка (матовый, глянцевый, сатиновый)",
          "price": "180 руб./м2"
        },
        {
          "name": "Установка цветного натяжного потолка (матовый, глянцевый, сатиновый)",
          "price": "230 руб./м2"
        },
        {
          "name": "Установка профиля для натяжного потолка (багета)",
          "price": "100 руб./м.п."
        },
        {
          "name": "Нанесение фото печати на полотно",
          "price": "1500 руб./м2"
        },
        {
          "name": "Монтаж криволинейной траектории",
          "price": "400 руб./м2"
        },
        {
          "name": "Установка закладной под люстру",
          "price": "от 250 руб./шт."
        },
        {
          "name": "Установка закладной под светильник",
          "price": "250 руб./шт."
        },
        {
          "name": "Установка гардины, закрытой ниши",
          "price": "300 руб./м.п."
        },
        {
          "name": "Обвод трубы уходящей в потолок",
          "price": "250 руб./шт."
        },
        {
          "name": "Дополнительный угол (если более 4-х)",
          "price": "150 руб./шт."
        },
        {
          "name": "Установка двухуровневого потолка",
          "price": "1500 руб./м.п."
        },
        {
          "name": "Установка потолочного разделителя",
          "price": "250 руб./м.п."
        },
        {
          "name": "Установка вставки (ленты) белой",
          "price": "50 руб./м.п."
        },
        {
          "name": "Установка вставки (ленты) цветной",
          "price": "90 руб./м.п."
        },
        {
          "name": "Слив воды, демонтаж/монтаж потолка",
          "price": "1500 руб./шт."
        }
      ]
    },
    "item4": {
      "name": "Монтажные и отделочные работы (ГКЛ)",
      "items": [
        {
          "name": "Устройство подвесных потолков из ГКЛ 1-й уровень с устройством металлокаркаса",
          "price": "от 250 руб./м2"
        },
        {
          "name": "Устройство подвесных потолков из ГКЛ 2-й уровень с устройством металлокаркаса",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Устройство подвесных потолков из ГКЛ 3-й уровень с устройством металлокаркаса",
          "price": "от 400 руб./м2"
        },
        {
          "name": "Устройство овальных подвесных потолков из ГКЛ с устройством металлокаркаса",
          "price": "от 900 руб./м.п."
        },
        {
          "name": "Устройство гипсокартонных перегородок с металлокаркасом",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Устройство гипсокартонных перегородок с шумоизоляцией",
          "price": "от 350 руб./м2"
        },
        {
          "name": "Устройство теплозвукоизоляции стен (мин.вата, пенополистироловые плиты)",
          "price": "от 50 руб./м2"
        },
        {
          "name": "Устройство арочных проемов из гипсокартона",
          "price": "от 1200 руб./шт."
        },
        {
          "name": "Устройство откосов из ГКЛ",
          "price": "от 200 руб./м.п."
        },
        {
          "name": "",
          "price": "от 400 руб./м.п."
        },
        {
          "name": "Устройство коробов из ГКЛ в санузле (трубы отоплен., с/у)",
          "price": "от 350 руб./м.п."
        },
        {
          "name": "Обшивка стен гипсокартоном, МДФ, пластиком",
          "price": "от 200 руб./м2"
        },
        {
          "name": "Шпатлевка стен по ГКЛ с проклейкой швов серпянкой",
          "price": "от 100 руб./м2"
        }
      ]
    },
    "item5": {
      "name": "Монтажные и отделочные работы (стены)",
      "items": [
        {
          "name": "Устройство проемов в не несущих кирпичных стенах",
          "price": "от 500 руб./м2"
        },
        {
          "name": "Устройство проемов в несущих кирпичных стенах",
          "price": "от 1000 руб./м2"
        },
        {
          "name": "Устройство проемов в не несущих бетонных стенах",
          "price": "от 1500 руб./м2"
        },
        {
          "name": "Устройство проемов в несущих бетонных стенах",
          "price": "от 2500 руб./м2"
        },
        {
          "name": "Устройство перегородок из газобетона",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Устройство перегородок из кирпича (120 мм)",
          "price": "от 350 руб./м2"
        },
        {
          "name": "Устройство перегородок из кирпича (250 мм)",
          "price": "от 450 руб./м2"
        },
        {
          "name": "Штукатурка стен из кирпича, пеноблоков",
          "price": "от 200 руб./м2"
        },
        {
          "name": "",
          "price": "от 500 руб./м2"
        },
        {
          "name": "Штукатурка стен по маякам",
          "price": "от 250 руб./м2"
        },
        {
          "name": "Штукатурка откосов",
          "price": "от 200 руб./м.п."
        },
        {
          "name": "Выравнивание углов",
          "price": "от 200 руб./м.п."
        },
        {
          "name": "Выравнивание примыканий к полу и потолку",
          "price": "от 100 руб./м.п."
        },
        {
          "name": "Шпатлевка и шлифовка стен под обои / под краску",
          "price": "от 100 руб./м2"
        },
        {
          "name": "Шпатлевка и шлифовка откосов до 40 см",
          "price": "от 100 руб./м.п."
        },
        {
          "name": "Грунтовка стен / откосов",
          "price": "20 руб./м2"
        },
        {
          "name": "Окраска стен простая 2 слоя в/д краской",
          "price": "60 руб./м2"
        },
        {
          "name": "Нанесение декоративной штукатурки на стены",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Нанесение жидких обоев на стены",
          "price": "от 150 руб./м2"
        },
        {
          "name": "Нанесение жидких обоев с рисунком на стены",
          "price": "от 250 руб./м2"
        },
        {
          "name": "Оклеивание стен обоями под окраску",
          "price": "от 90 руб./м2"
        },
        {
          "name": "Оклеивание стен бумажными обоями без подбора рисунка",
          "price": "от 200 руб./м2"
        },
        {
          "name": "Оклеивание стен бумажными обоями с подбором рисунка",
          "price": "от 250 руб./м2"
        },
        {
          "name": "Оклеивание стен обоями (винил, флизелин) без подбора рисунка",
          "price": "от 100 руб./м2"
        },
        {
          "name": "Оклеивание стен обоями (винил, флизелин) с подбором рисунка",
          "price": "от 150 руб./м2"
        },
        {
          "name": "Оклеивание стен рельефными обоями «дуплекс»",
          "price": "от 200 руб./м2"
        },
        {
          "name": "Оклеивание стен текстильными обоями (бамбук, джут и т.д.)",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Оклеивание стен шелковыми обоями VIP класса",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Наклейка бордюра обойного",
          "price": "от 100 руб./м.п."
        },
        {
          "name": "Устройство покрытий из керамических плиток",
          "price": "от 350 руб./м2"
        },
        {
          "name": "Устройство покрытий из керамических плиток (мозаика)",
          "price": "от 600 руб./м2"
        },
        {
          "name": "Устройство керамического бордюра",
          "price": "300 руб./м.п."
        },
        {
          "name": "Вставки из стеклоблоков поштучно в ниши, стены",
          "price": "100 руб./шт."
        },
        {
          "name": "Укладка стеклоблоков (устройство перегородок, стен)",
          "price": "от 300 руб./м2"
        }
      ]
    },
    "item6": {
      "name": "Монтажные и отделочные работы (потолки)",
      "items": [
        {
          "name": "Монтаж подвесных потолков «Армстронг»",
          "price": "от 150 руб./м2"
        },
        {
          "name": "Монтаж натяжных потолков",
          "price": "от 100 руб./м2"
        },
        {
          "name": "Монтаж реечных, зеркальных потолков (санузлы, кухни)",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Утепление потолка наклеиванием пенопласта",
          "price": "от 50 руб./м2"
        },
        {
          "name": "Утепление потолка с постановкой дополнительного каркаса",
          "price": "от 100 руб./м2"
        },
        {
          "name": "Облицовка потолка плиткой стиропоровой",
          "price": "от 50 руб./м2"
        },
        {
          "name": "Обшивка потолка пластиковыми панелями или вагонкой",
          "price": "от 250 руб./м2"
        },
        {
          "name": "Оклеивание потолка обоями под окраску",
          "price": "от 130 руб./м2"
        },
        {
          "name": "Оклеивание потолка обоями без подбора рисунка",
          "price": "от 150 руб./м2"
        },
        {
          "name": "Монтаж и окраска потолочных галтелей",
          "price": "от 100 руб./м.п."
        },
        {
          "name": "Расшивка, заделка трещин, рустов",
          "price": "50 руб./м.п."
        },
        {
          "name": "Штукатурка потолка в плоскость",
          "price": "от 200 руб./м2"
        },
        {
          "name": "Штукатурка потолка по маякам",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Шпатлевка потолка по ГКЛ с серпянкой",
          "price": "от 80 руб./м2"
        },
        {
          "name": "Шпатлевка потолка по сетке в два слоя",
          "price": "от 120 руб./м2"
        },
        {
          "name": "Шпатлевка потолка с выравниванием общей плоскости",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Третья шпатлевка при высококачественной окраске",
          "price": "от 80 руб./м2"
        },
        {
          "name": "Грунтовка потолков в 1 слой",
          "price": "от 30 руб./м2"
        },
        {
          "name": "Окраска / побелка потолка в/д краской в 2 слоя",
          "price": "от 70 руб./м2"
        }
      ]
    },
    "item7": {
      "name": "Монтажные и отделочные работы (полы)",
      "items": [
        {
          "name": "Устройство пола из ДСП с лагами",
          "price": "от 300 руб./м2"
        },
        {
          "name": "Устройство обмазочной гидроизоляции полов в 2 слоя",
          "price": "60 руб./м2"
        },
        {
          "name": "Устройство цементной стяжки толщ до 60 мм",
          "price": "300 руб./м2"
        },
        {
          "name": "Устройство цементной стяжки толщ от 60 мм",
          "price": "350 руб./м2"
        },
        {
          "name": "Устройство цементной стяжки толщ свыше 100 мм",
          "price": "от 400 руб./м2"
        },
        {
          "name": "Устройство финишной стяжки из наливных полов",
          "price": "100 руб./м2"
        },
        {
          "name": "Монтаж ламината с подложкой",
          "price": "от 150 руб./м2"
        },
        {
          "name": "Нанесение герметика на швы ламината",
          "price": "от 50 руб./м2"
        },
        {
          "name": "Устройство полов из паркетной доски",
          "price": "от 450 руб./м2"
        },
        {
          "name": "Устройство пробкового покрытия",
          "price": "от 200 руб./м2"
        },
        {
          "name": "Устройство теплых полов",
          "price": "200 руб./м2"
        },
        {
          "name": "Устройство терморегулятора для обогреваемых полов",
          "price": "1200 руб./шт."
        },
        {
          "name": "Устройство теплозвукоизоляционного слоя из XPS",
          "price": "90 руб./м2"
        },
        {
          "name": "Устройство покрытий из линолеума / ковролина",
          "price": "от 70 руб./м2"
        },
        {
          "name": "Установка плинтуса пластикового с соединительными элементами",
          "price": "от 50 руб./м.п."
        },
        {
          "name": "Установка порожков декоративных",
          "price": "100 руб./м.п."
        },
        {
          "name": "Устройство порожков из плитки керамической",
          "price": "500 руб./м.п."
        },
        {
          "name": "Устройство покрытий из керамических плиток",
          "price": "от 500 руб./м2"
        },
        {
          "name": "Устройство покрытий из керамических плиток (мозаика)",
          "price": "от 800 руб./м2"
        },
        {
          "name": "Устройство подиума из кирпича",
          "price": "договорная"
        }
      ]
    },
    "item8": {
      "name": "Монтажные и отделочные работы (проемы)",
      "items": [
        {
          "name": "Установка дверных блоков",
          "price": "от 1200 руб./шт."
        },
        {
          "name": "Врезка замков",
          "price": "от 200 руб./шт."
        },
        {
          "name": "Установка наличников",
          "price": "от 300 руб./компл."
        },
        {
          "name": "Установка доборов",
          "price": "от 200 руб./компл."
        },
        {
          "name": "Установка отбойников, стопоров",
          "price": "50 руб./шт."
        },
        {
          "name": "Установка готовых арок в дверные проемы",
          "price": "от 1000 руб./шт."
        },
        {
          "name": "Установка сантехнических лючков с облицовкой плиткой",
          "price": "300 руб./шт."
        },
        {
          "name": "Установка сантехнических лючков",
          "price": "150 руб./шт."
        },
        {
          "name": "Установка подоконников",
          "price": "от 500 руб./м.п."
        },
        {
          "name": "Установка штукатурных / пластиковых уголков",
          "price": "30 руб./м.п."
        },
        {
          "name": "Штукатурка оконных откосов",
          "price": "от 200 руб./м.п."
        },
        {
          "name": "Шпаклевание откосов под окраску",
          "price": "90 руб./м.п."
        },
        {
          "name": "Шпаклевание откосов по сетке под окраску",
          "price": "120 руб./м.п."
        },
        {
          "name": "Окраска откосов",
          "price": "50 руб./м.п."
        },
        {
          "name": "Окраска оконных проемов свыше 400мм",
          "price": "70 руб./м2"
        },
        {
          "name": "Установка экранов на ванну",
          "price": "300 руб./шт."
        },
        {
          "name": "Установка экранов на радиаторы",
          "price": "150 руб./шт."
        },
        {
          "name": "Установка отливов",
          "price": "100 руб./шт."
        },
        {
          "name": "Установка пластиковых откосов",
          "price": "200 руб./м.п."
        },
        {
          "name": "Монтаж карнизов для штор",
          "price": "250 руб./шт."
        }
      ]
    },
    "item9": {
      "name": "Сантехнические работы, вентиляция",
      "items": [
        {
          "name": "Установка ванны металлической",
          "price": "от 1000 руб./шт."
        },
        {
          "name": "Установка ванны акриловой с фиксацией",
          "price": "от 1500 руб./шт."
        },
        {
          "name": "Установка унитаза простого / писсуара / биде",
          "price": "от 700 руб./шт."
        },
        {
          "name": "Установка унитаза усложненного (угловой и т.п.)",
          "price": "от 1000 руб./шт."
        },
        {
          "name": "Установка унитаза инсталляция",
          "price": "от 2500 руб./шт."
        },
        {
          "name": "Установка раковины простой",
          "price": "от 500 руб./шт."
        },
        {
          "name": "Установка тюльпана простого",
          "price": "от 250 руб./шт."
        },
        {
          "name": "Установка душевой кабины простой с сборкой",
          "price": "от 1800 руб./шт."
        },
        {
          "name": "Установка душевой кабины усложненной с сборкой",
          "price": "от 2500 руб./шт."
        },
        {
          "name": "Установка шарового крана",
          "price": "150 руб./шт."
        },
        {
          "name": "Установка водосчетчика",
          "price": "300 руб./шт."
        },
        {
          "name": "Установка стиральной машины",
          "price": "200 руб./шт."
        },
        {
          "name": "Установка смесителя (ванная/душ)",
          "price": "350 руб./шт."
        },
        {
          "name": "Установка смесителя (кухня)",
          "price": "250 руб./шт."
        },
        {
          "name": "Установка сантехнических аксессуаров (крючки, мыльницы и т.д.)",
          "price": "от 100 руб./шт."
        },
        {
          "name": "Установка полотенцесушителя",
          "price": "от 750 руб./шт."
        },
        {
          "name": "Установка водонагревателя накопительного",
          "price": "от 800 руб./шт."
        },
        {
          "name": "Прокладка канализационных труб (полипропиленовых)",
          "price": "от 100 руб./м.п."
        },
        {
          "name": "Прокладка канализационных труб (металлопластиковых)",
          "price": "от 120 руб./м.п."
        },
        {
          "name": "Разводка водопроводных труб комплексная",
          "price": "от 1000 руб./шт."
        },
        {
          "name": "Прокладка воздуховодов из гофротрубы",
          "price": "100 руб./м.п."
        },
        {
          "name": "Прокладка воздуховодов жестких",
          "price": "100 руб./м.п."
        },
        {
          "name": "Устройство узла соединения воздуховодов",
          "price": "140 руб./шт."
        },
        {
          "name": "Установка вентиляционных решеток",
          "price": "150 руб./шт."
        }
      ]
    },
    "item10": {
      "name": "Электромонтажные работы",
      "items": [
        {
          "name": "Укладка электропровода, TV, локальных сетей",
          "price": "50 руб./м.п."
        },
        {
          "name": "Протягивание провода через ПВХ гофру / ПВХ трубу",
          "price": "15 руб./м.п."
        },
        {
          "name": "Монтаж элементов для коробов, гофры, труб ПВХ (тройники, уголки, муфты)",
          "price": "10 руб./шт."
        },
        {
          "name": "Монтаж встроенного точечного светильника в подвесном потолке",
          "price": "100 руб./шт."
        },
        {
          "name": "Монтаж светильников в потолке типа «Армстронг»",
          "price": "200 руб./шт."
        },
        {
          "name": "Монтаж светильников настенных / бра",
          "price": "200 руб./шт."
        },
        {
          "name": "Навеска люстры простой",
          "price": "200 руб./шт."
        },
        {
          "name": "Навеска и сборка люстры сложной",
          "price": "от 500 руб./шт."
        },
        {
          "name": "Установка трансформаторов под светильники",
          "price": "100 руб./шт."
        },
        {
          "name": "Установка устройства защиты ламп (плавное включение)",
          "price": "180 руб./шт."
        },
        {
          "name": "Установка и подключение терморегулятора для теплого пола",
          "price": "300 руб./шт."
        },
        {
          "name": "Устройство ниши и установка распределительного щита",
          "price": "от 1500 руб./шт."
        },
        {
          "name": "Подключение автоматов в распределительном щите",
          "price": "100 руб./шт."
        },
        {
          "name": "Подключение монтажной коробки",
          "price": "от 300 руб./шт."
        },
        {
          "name": "Установка электросчетчика в распределительном щите",
          "price": "300 руб./шт."
        },
        {
          "name": "Бурение отверстия в стене под розетку",
          "price": "100 руб./шт."
        },
        {
          "name": "Демонтаж розеток / выключателей",
          "price": "50 руб./шт."
        },
        {
          "name": "Установка в стену подрозеточной / монтажной коробки",
          "price": "50 руб./шт."
        },
        {
          "name": "Установка и подключение розетки / выключателя",
          "price": "100 руб./шт."
        },
        {
          "name": "Монтаж компьютерной, TV, телефонной розетки",
          "price": "100 руб./шт."
        },
        {
          "name": "Монтаж розетки электроплиты",
          "price": "250 руб./шт."
        },
        {
          "name": "Установка и подключение звонка",
          "price": "300 руб./шт."
        },
        {
          "name": "Установка и подключение вентилятора",
          "price": "150 руб./шт."
        }
      ]
    },
    "item11": {
      "name": "Навеска (установка), сверление",
      "items": [
        {
          "name": "Установка аксессуаров в ванной",
          "price": "от 100 руб."
        },
        {
          "name": "Навеска зеркала до 1 м2",
          "price": "от 350 руб."
        },
        {
          "name": "Навеска зеркала свыше 1 м2",
          "price": "от 500 руб."
        },
        {
          "name": "Установка силового кронштейна",
          "price": "от 500 руб."
        },
        {
          "name": "Установка настенной сушки для белья",
          "price": "от 800 руб."
        },
        {
          "name": "Установка потолочной сушки для белья",
          "price": "от 1000 руб."
        },
        {
          "name": "Сверление отверстий в кирпичной стене",
          "price": "100 руб."
        },
        {
          "name": "Сверление отверстий в бетонной стене",
          "price": "200 руб."
        }
      ]
    },
    "item12": {
      "name": "Монтаж бытовой, аудио, видео техники",
      "items": [
        {
          "name": "Монтаж вытяжки",
          "price": "от 600 руб."
        },
        {
          "name": "Демонтаж вытяжки",
          "price": "от 200 руб."
        },
        {
          "name": "",
          "price": "от 200 руб./м.п."
        },
        {
          "name": "Демонтаж водонагревателя",
          "price": "300 руб."
        },
        {
          "name": "Подключение микроволновой печи",
          "price": "100 руб."
        },
        {
          "name": "Подключение стиральной машины ( без электрики )",
          "price": "от 700 руб."
        },
        {
          "name": "Подключение посудомоечной машины",
          "price": "от 700 руб."
        },
        {
          "name": "Навеска LCD телевизора до 32?",
          "price": "от 300 руб."
        },
        {
          "name": "Навеска LCD телевизора от 32? до 50?",
          "price": "от 500 руб."
        },
        {
          "name": "Навеска LCD телевизора от 50?",
          "price": "от 750 руб."
        },
        {
          "name": "Подключение электроплиты, духового шкафа, варочной поверхности",
          "price": "200-500 руб."
        },
        {
          "name": "Подключение видеомагнитофона, DVD-плеера, музыкального центра",
          "price": "200-700 руб."
        },
        {
          "name": "Подключение и настройка телевизора",
          "price": "200-500 руб."
        },
        {
          "name": "Подключение домашнего кинотеатра",
          "price": "от 300 руб."
        }
      ]
    }
  }
