include section.pug
include data.pug

mixin prices
  +b.SECTION.section._light
    +e.container.container
      +e.title
        +b.H2.title._centered Цены на комплексный ремонт в Барнауле
      +b.UL.list._inline._triple._prices
        +pricesItem({
          name: 'Ремонт квартиры',
          price: [1200, 3000]
        })
        +pricesItem({
          name: 'Ремонт офиса',
          price: [1500, 3300]
        })
        +pricesItem({
          name: 'Ремонт коттеджа',
          price: [2500, 4500]
        })
        
      +e.text
        p. 
          Уважаемые наши клиенты, если Вы не нашли то что искали, остались вопросы или Вам необходим весьма значительный объем работ, то позвоните нам по телефону: +7 913 242 86 15, +7 933 310 86 69 или оставьте заявку, мы всегда договоримся!
        p. 
          <i>*Цены на ремонт действительны в течении текущего месяца и не являются публичной офертой.</i>

        
        
mixin pricesItem(data)
  +e.LI.item
    +b.block._price
      +e.head
        +e.SPAN.title._center
          strong= data.name
      +e.line
        +b.price
          +e.value
            span= 'от ' + data.price[0] + ' ₽ кв.м'
          +e.value._old
            span= 'от ' + data.price[1] + ' ₽ кв.м'
      +e.content
        +b.UL.list._decor
          +e.LI.item
            span Демонтажные работы
          +e.LI.item
            span Грунтовка поверхностей
          +e.LI.item
            span Шпатлевка стен и потолка
          +e.LI.item
            span Покраска потолка
          +e.LI.item
            span Оклейка стен обоями
          +e.LI.item
            span Выравнивание пола
          +e.LI.item
            span Настил ламината
          +e.LI.item
            span Монтаж панелей в ванной
          +e.LI.item
            span Установка сантехники
          +e.LI.item
            span Замена розеток
          +e.LI.item
            span Монтаж выключателей
        
        +e.buttons
          +button({
            type: 'link',
            name: 'Подробнее',
            style: 0,
            size: 'full',
            href: 'appartament-prices.html'
          })
          
          +b.BUTTON.button._size-full(data-modal-open="callback")
            span Заказать
