- 
  var slides = [
    {
      image: 'slide.jpg',
      title: 'Заебись отделка!',
      text: '100 хуев в подарок'
    },{
      image: 'slide2.png',
      title: 'Я - девушка',
      text: 'Вожу пальцами по воздуху'
    },{
      image: 'slide.jpg',
    }
  ]
