- 
  var slides = [
    {
      image: 'slide1.png',
      title: 'Дизайн интерьеров',
      text: 'Эксклюзивный дизайн-проект интерьера'
    },{
      image: 'slide2.jpg',
      title: 'Ремонт офисов',
      text: 'Комплексный ремонт коммерческого помещения'
    },{
      image: 'slide3.jpg',
      title: 'Ремонт коттеджей',
      text: 'Ремонт коттеджей под ключ по индивидуальному дизайн-проекту'
    }
  ]
