@import url('slide/style.less');

.slider {
  position: relative;

  &__list {
    width: 100%;
    margin: 0;
    padding: 0;
    list-style: none;

    &:focus {
      outline: none;
    }
  }

  &__slide {
    width: @container;
    overflow: hidden;
    transform: skewX(-25deg);
    opacity: .5;
    transition: opacity @transitionX2;

    &.is-selected {
      opacity: 1;
      border-left: 4px solid @colorHighlight;
      border-right: 4px solid @colorHighlight;
    }
  }

  &__slide_item {
    width: 25%;
    padding: 0 20px;
    opacity: 1;
    transform: none;

    &:hover {
      .product {
        &__image {
          img {
            opacity: .75;
          }
        }
      }
    }

    &.is-selected {
      border: none;
    }
  }

  &__controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .positionCenter();
    z-index: 3;
    width: 100%;
    padding: 0 5%;
  }
}

.slider_items {
  margin: 60px 0 40px;

  .slider {
    &__controls {
      padding: 0;
      width: 115%;
    }

    &__list {
      position: relative;
      overflow: hidden;
    }
  }
}

.arrow {
  width: 64px;
  height: 64px;
  background: none;
  border: none;

  svg {
    max-width: 100%;
    max-height: 100%;
    fill: currentColor;;
    transition: all @transition;
  }

  &:focus {
    outline: none;

    svg {
      stroke-width: 30px;
      stroke: @colorHighlight;
    }
  }

  &:hover {
    color: @colorHighlight;
  }
}

.arrow_prev {
  transform: scaleX(-1);
}

.arrow_down {
  position: absolute;
  z-index: 9;
  left: 50%;
  transform: translateX(-50%) rotate(90deg);
  top: 60px;
  color: @colorHighlight;
  animation: down 2s infinite;

  &:hover,
  &:focus {
    color: @colorBackgroundLight;
  }
}

@keyframes down {
  0% {
    margin-top: 0;
    opacity: 1;
  }

  80% {
    margin-top: 10px;
    opacity: 0;
  }

  100% {
    margin-top: 0;
    opacity: 0;
  }
}
