.link {
  position: relative;
  display: inline-block;
  vertical-align: bottom;
  margin: 0 8px;
  color: @colorLink;
  text-decoration: none;
  transition: all @transition;

  &::before {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 0;
    height: 1px;
    padding: 0;
    content: '';
    background: currentColor;
    transition: all @transitionX2;
  }

  &:hover,
  &:focus {
    &::before {
      padding: 0 50%;
    }
  }

  &:focus {
    outline: none;
  }

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  &__ico {
    position: relative;
    top: 6px;
  }
}

.link_gray {
  color: @colorTextGray;
  text-decoration: none;
}

.link_size-s {
  font-size: @fontSizeDefaultS;
  line-height: @fontSizeDefault;
}
