//- includes
include components/independent/index.pug
include components/slider/index.pug
include components/sections/index.pug
include components/form/index.pug
include components/modal/index.pug

//- end includes

//- variables page 
- 
	pageSettings = {
		title: 'Клининг'
	}
	
//- end variables

doctype html
html(lang=global.lang)
	+head(pageSettings)
	+b.BODY.page
		+header({
			title: pageSettings.title
		})
		
		+e.MAIN.content
			+section({
				title: 'Клининг'
			})
				+e.text._border
					p. 
						Компания предоставляет полный комплекс услуг по ремонту и дизайну квартир. 
					p. 
						Основная задача – максимально облегчить процесс ремонта для клиента. 
						Нужно выбрать один из трех вариантов стилей дизайна, одну из трех 
						предложенных планировок, выбрать желаемый уровень отделки по стоимости, 
						и вы получите итоговую стоимость ремонта своей квартиры

			+examplesNew
			+profit
			+catalog
			+reviews
			
			+section({
				title: 'Натяжные потолки:<br>5 причин заказать их прямо сейчас'
			})
				+e.text
					p. 
						Если вы затеяли ремонт и хотите существенно освежить вид вашего жилища, то перед вами наверняка встал важный вопрос: а что делать с потолком?
					p. 
						Вариантов множество: потолок можно побелить или покрасить, поклеить на него плитку, обои, или – зашить гипсокартонном. Однако, в последние годы самое популярное решение этой дилеммы - монтаж натяжных потолков. Давайте рассмотрим, в чем секрет бешеного успеха этой технологии.
					p <strong>1. Эстетичный вид</strong>
					p. 
						Городская квартира, офис, загородный дом, ночные клубы и сауны, модные бутики или салоны красоты – 
						под натяжным потолком любое помещение будет проникнуто атмосферой изысканного уюта. Более того, материалы, из которых изготовлен натяжной потолок, не подвергаются выгоранию и выцветанию, а значит – даже спустя годы имеют те же качественные характеристики и внешний вид, что и в первые дни после монтажа. К тому же, натяжной потолок – это идеальное решение для квартир в новом доме: с усадкой здания он не будет деформирован, вам не придется заботиться о появившихся трещинах. Такой потолок скрывает все недостатки потолка основного: вы можете забыть о его дефектах и неровностях. Это прекрасный вариант и для общественных заведений: системы коммуникаций вентиляции, кондиционеров, дымоуловителей и пожаротушения, будут надежно спрятаны от глаз посетителей и не испортят общего впечатления об интерьере в помещении, где установлен натяжной потолок.
					p <strong>2. Простор для фантазии</strong>
					p. 
						Тысячи дизайнерских фантазий были воплощены благодаря натяжным потолкам. Широкая цветовая гамма, разнообразие фактур, форм и уровней позволяют достичь абсолютной гармонии в интерьере помещения. Такие потолки способны визуально увеличить или уменьшить высоту помещения, а также – разбить пространство на функциональные зоны, без использования лишних перегородок. Вы можете использовать в своем интерьере глянцевые,
						матовые натяжные потолки любого цвета, вместе с которыми эффектно будут смотреться светодиодные светильники для натяжных потолков.
					p <strong>3. Отсутствие строительного мусора и скорость установки</strong>
					p. 
						Полотна для потолка изготавливаются строго по замерам, снятым с помещения, а
						установка натяжных потолков в Барнауле, как, впрочем, и другом городе, не требует проведения работ для подготовки поверхности. Количество строительной пыли и мусора во время проведения работ – минимально, но все же, до начала монтажа конструкции мы советуем накрыть мебель полиэтиленом. Безусловным плюсом будет и время установки: натяжные потолки 18 кв.м. монтируются, в среднем, за шесть часов, и даже с установкой освещения, рабочий процесс займет всего один день.
					p <strong>4. Низкая цена – высокое качество</strong>
					p. 
						Натяжные потолки заказать может практически любой человек, вне зависимости от толщины его кошелька – это обусловлено невысокой стоимостью материалов, но, вместе с тем, их высокое качество позволит вам не задумываться о ремонте потолка на ближайшие десять-пятнадцать лет. Так что, даже те незначительные траты, которые вы понесете, заказав монтаж, окупятся с лихвой за время эксплуатации материала.
					p <strong>5. Эксплуатация</strong>
					p. 
						ПВХ-полотна совершенно безопасны в использовании, не имеют запаха, не выделяют токсинов и не вырабатывают статического электричества. Они не подвержены коррозии, не вступают в реакцию с химическими веществами, и даже
						глянцевые натяжные потолки не становятся «хранилищем конденсата», что делает возможным их использование в ванной или бассейне.
					p. 
						Более того, они могут спасти ваше имущество: натяжные потолки способны выдержать огромное количество воды, а значит, если в помещении протекла крыша или вас затопили соседи, ваша квартира останется практически невредимой. «Практически» - потому что внешний вид полотна несколько пострадает после слива жидкости, однако, его можно восстановить. Кстати, уникальные пластичные свойства позволяют смело монтировать
						натяжные потолки в детскую. Игрушки, подброшенные ребенком вверх, не повредят потолочного покрытия. Уход за натяжными потолками не обременителен. При необходимости, их поверхность легко отмывается обычным мыльным раствором.
					p. 
						Нужны ли натяжные потолки в интерьере решать, в конечном счете, вам. Однако, сделав выбор в их пользу, вы выбираете лучшее качество по лучшей цене и на долгие годы избавляете себя от необходимости решения этой части квартирного вопроса.
					
					
			+b.SECTION.section
				+e.container.container
					+formCallFooter
			
		+e.modals
			+modalCallback
			+modalWitem
			
		+footer
		
		+scripts
