mixin feautures
  +b.SECTION.section
    +e.container.container
      +b.H2.title._beauty
        span Ремонт квартир

      +e.text
        p Ремонт вашей квартиры надежной компанией с большим опытом

      +b.UL.list._inline._quad
        +e.LI.item
          +b.block
            +e.head
              +e.SPAN.title
                strong 10+
                span лет опыта
        +e.LI.item
          +b.block
            +e.head
              +e.SPAN.title
                strong 10+
                span лет опыта
        +e.LI.item
          +b.block
            +e.head
              +e.SPAN.title
                strong 10+
                span лет опыта
        +e.LI.item
          +b.block
            +e.head
              +e.SPAN.title
                strong 10+
                span лет опыта
