@import url('field/style.less');

.form {
  &__content {
    display: flex;
    flex-direction: column;
  }

  &__content_inline {
    flex-direction: row;
  }

  &__block {
    width: 33.333%;
    padding-right: 16px;

    &:last-child {
      padding-right: 0;
    }
  }
}

.form_call {
  position: relative;
  top: -80px;
  width: 720px;
  max-width: 100%;
  padding: 24px;
  color: @colorTextDark;
  background: @colorBackgroundLight;
  box-shadow:
    0 0 0 5px @colorBackgroundDark,
    15px 15px 0 0 rgba(0,0,0,.5);
}
