mixin action
  +b.action
    +e.content._flex
      +e.block._half
        +b.SPAN.caption._size-s СВЕТИЛЬНИКИ GX53 В ПОДАРОК!
        +e.text
          p При заказе натяжного потолка с установкой на сумму 8 500 руб.
      +e.block._half
        +e.image
          img(src=global.paths.pictures+'svetilnik.png' alt="Светильник")
    +e.form
      +b.FORM.form
        +e.content._inline
          +e.block
            +field({
              type: 'text',
              placeholder: 'Номер телефона'
            })
            
          +e.block  
            +button({
              type: 'button',
              name: 'Отправить'
            })
