include action/index.pug

mixin modalWork
  +b.modal._full(data-modal="work")
    +e.BUTTON.close(data-fancybox-close)
    +b.work-full
      +e.image
        img(src='https://picsum.photos/800/800' alt="Работа")  
      +e.content
        +b.SPAN.title._size-s Ремонт 2-комнатной квартиры
        +e.text
          p
            strong АДРЕС: 
            span Кременчугская ул., 21-3
          
          p. 
            В квартире (новостройка) выполнен капитальный ремонт в скандинавском стиле. 
            Полностью разведена сантехника и электрика - как черновая, так и финишная. 
            На полу - укладка ламинированной доски и керамогранита, в кухонной зоне 
            произведена укладка керамогранита "под паркет", все стены выровнены по 
            маякам для поклейки обоев под окраску. В санузле - перегородки ГКЛ с 
            окрашиванием + вставки из кафельной плитки. Во всей квартире матовые 
            натяжные потолки со встроенными светильниками и ГКЛ-коробами.
