mixin review(data)
  +b.review 
    +e.image
      img(src=global.paths.pictures+'reviews/'+data.img)
    +e.content
      +e.header
        +e.SPAN.title= data.title
      +e.main
        +e.text
          p= data.text

mixin reviews
  +section({
    type: 'dark',
    title: 'Отзывы'
  })
    +b.UL.list._reviews
      +review({
        title: 'Корней',
        img: 'man.jpg',
        text: 'Купил 2 сосиски в тесте. Одну съел, во время рекламы надкусил вторую и посмотрел во внутрь, плесень от сосиски тянулась к стенкам оболочки, сделал фото, видно даже чёрные точки. Я деньги заплатил за плесень, которую бомжи едят бесплатно.'
      })
      +review({
        title: 'Коныч',
        img: 'man2.jpg',
        text: 'Если вас привлекает атмосфера стройки и вы бы хотели покурить кальян сидя на диванчике, который раньше был собственностью бездомных людей, то кальянная "Lounge на фольге" - это то, что вам нужно'
      })
      +review({
        title: 'Корней',
        img: 'man.jpg',
        text: 'Купил 2 сосиски в тесте. Одну съел, во время рекламы надкусил вторую и посмотрел во внутрь, плесень от сосиски тянулась к стенкам оболочки, сделал фото, видно даже чёрные точки. Я деньги заплатил за плесень, которую бомжи едят бесплатно.'
      })
      
      
