include ../../global.pug
include ../common/logotype/logotype.pug
include nav/nav.pug

mixin header(data)
  +b.HEADER.header
    +e.main
      +e.container.container._flex
        +e.block
          +logotype
          
        +e.block._nav
          +nav({
            style: 'main',
            nav: [
              'Главная',
              'О компании',
              'Акции',
              'Отзывы',
              'Калькулятор'
            ]
          })
          
    +e.botline
      +e.container.container._flex
        +e.block._nav
          +nav({
            nav: [
              'Виды ремонта',
              'Портфолио',
              'Прайс',
              'Услуги',
              'Контакты'
            ]
          })
        +e.block._call
          +link({
            name: '8-800-2000-800',
            href: 'tel:88002000800'
          })
          +b.BUTTON.button._size-s(data-modal-open="callback")
            span Заказать звонок
          
    
