include ../../global.pug
include ../common/logotype/logotype.pug
include nav/nav.pug

mixin header(data)
  +b.HEADER.header
    +e.main
      +e.container.container._flex
        +e.block
          +logotype
          
        +e.block._nav
          +nav({
            style: 'main',
            nav: [{
              name: 'Главная',
              link: 'index.html'
            },{
              name: 'Натяжные потолки',
              link: 'ceiling.html'
            },{
              name: 'Ремонт квартир',
              link: 'appartament.html'
            },{
              name: 'Клининг',
              link: 'clining.html'
            }]
          })
          
    +e.botline
      +e.container.container._flex
        +e.block._nav
          +nav({
            nav: [{
              name: 'Виды ремонта',
              link: '#'
            },{
              name: 'Портфолио',
              link: '#'
            },{
              name: 'Прайс',
              link: '#'
            },{
              name: 'Услуги',
              link: '#'
            },{
              name: 'Контакты',
              link: '#'
            }]
          })
        +e.block._call
          +link({
            name: '8-800-2000-800',
            href: 'tel:88002000800'
          })
          +b.BUTTON.button._size-s(data-modal-open="callback")
            span Заказать звонок
          
    
