@import url('nav/style.less');

.header {
  position: relative;
  z-index: 3;

  &__main {
    padding: 24px 0;
    background: rgba(255,255,255,.05);
    border-bottom: 1px solid rgba(255,255,255,.25);
  }

  &__botline {
    padding: 12px 0;
    color: @colorTextDark;
    background: @colorBackgroundLight;
    border-bottom: 2px solid @colorHighlight;
  }

  &__block {
    width: 30%;
  }

  &__block_nav {
    width: 70%;
  }

  &__block_call {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}
